#nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* border: black solid; */
    width: 300px;
    margin-top: 10px;
    margin-left: 30px;
}
#navbar{
    /* border: black solid; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
}
#nav-icons{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width:150px;
    margin-top: 10px;
    margin-right: 50px;
}
