.tritem-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 244, 244);
    padding: 60px;
}
.tritem-container h2{
    padding-bottom: 20px;
}
.tritem-container button{
    margin-top: 20px;
    border: none;
    background-color:#295ac3 ;
    color: aliceblue;
    height: 40px;
    font-size: 18px;
    width: 150px;
    border-radius: 10px;
}

.tritem-container button:hover{
    color: aliceblue;
    background-color:#295ac3cf;
}

.product-data-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}